@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

* {
    font-size: 20px;
    font-family: 'Maven Pro', sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(230, 230, 230);
}

body::-webkit-scrollbar {
    display: none;
}

#naslovna {
    width: 100%;
    height: 60%;
    display: flex;
    background-image: url('img/background.jpg');
    background-size: cover;
    justify-content: center;
    align-items: center;
}

#naslovna h1 {
    font-size: clamp(32px, 4vw, 4vw);
    font-weight: bold;
    color: #0367A6;
    font-family: 'Cairo', sans-serif;
    user-select: none;
}

#naslovna p {
    font-size: clamp(36px, 6vw, 6vw);
    font-weight: bold;
    color: #0367A6;
    font-family: 'Cairo', sans-serif;
    user-select: none;
}

.header {
    width: 100%;
    height: 13%;
    padding: 10px;
    background-color: #022340;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 200;
    opacity: 80%;
}

.header img {
    width: 10%;
    min-width: 125px;
    aspect-ratio: 1/1;
    padding-left: 30px;
    user-select: none;
}

.header ul {
    width: 30%;
    height: 100px;
    margin-left: auto;
    margin-right: 50px;
    align-items: center;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.header ul a {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 30px;
    cursor: pointer;
    padding: 7px;
    font-size: 1.5vw;
}

.header ul li {
    margin-right: auto;
    font-weight: bold;
}

.header button {
    display: none;
    background: none;
    border: none;
}

#pocetna {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75%;
    min-height: 500px;
    width: 100%;
    background-color: #024873;
}

#pocetna img {
    width: 35%;
    aspect-ratio: 1/1;
    padding: 15px;
    user-select: none;
    margin: 0 auto;
    z-index: 100;
}

#tekst h3 {
    text-align: center;
    font-size: 2vw;
    color: white;
}

#tekst p {
    font-size: 2vw;
    color: white;
}

#tekst {
    width: 40%;
    margin: auto;
    max-height: 250px;
}

#projekti {
    width: 100%;
    background-color: #03588C;
}

#projekti-dugmad {
    display: flex;
    justify-content: center;
}


#projekti-dugmad button {
    margin: 15px;
    padding: 7px;
    border: 3px solid white;
    background: none;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    color: white;
}

#projekti-slike {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}

#projekti-slike img {
    width: 200px;
    height: 200px;
    margin: 15px;
}

.red {
    border: 5px solid lightcoral;
}

.blue {
    border: 5px solid lightblue;
}

/* button.red {
    background-color: #383838;
    color: white;
}

button.blue {
    background-color: #383838;
    color: white;
} */ 

@media only screen and (max-width: 800px) {
    #tekst h3 {
        text-align: center;
        font-size: 15px;
    }

    #tekst p {
        font-size: 13px;
    }

    .header ul a {
        font-size: 12px;
        margin: 5px;
        white-space: nowrap;
    }
}

@media only screen and (max-width: 630px) {
    .header ul {
        display: none;
        width: 100%;
    }

    .header button {
        display: block;
        position: absolute;
        color: white;
        right: 10%;
        top: 10%;
    }
}

#contact {
    height: 25%;
    background-color: #0367A6;
    color: white;
}
