*{
    margin: 0px auto;
    background-color: rgb(255, 225, 168);
    font-family: 'Work Sans', sans-serif;
}


#glavni-meni{
    height: 125px;
    width: 50%;
    background-color: crimson;
    text-align: center;
}

#naslov{
    background-color: crimson;
    color: white;
    font-size: 25px;
    padding-top: 15px;
}

#unos{
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    background-color: white;
    font-size: 16px;
}
#dugme{
    width: 25%;
    background: #d9d9d9;
    padding: 10px;
    border: none;
    border-radius: 0;
    user-select: none;
}

#dugme:hover{
    background-color: #bbb;
    cursor: pointer;
    transition-duration: 0.2s;
}

ul{
    width: 50%;
    margin: 0 auto;
    padding: 0;
}
ul li {
    cursor: pointer;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
}

ul li:nth-child(odd) {
    background: #f9f9f9;
}

ul li:hover {
    background: #ddd;
}

ul li.checked::before {
    content: '\2713';
}

ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

.close {
    position: relative;
    padding: 0px 10px;
    background-color: white;
    float: right;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

.datum {
    position: relative;
    margin: 0px 10px;
    float: right;
}

.select-meni {
    position: relative;
    margin: 0px 10px;
    float: right;
}

